{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('https://images.unsplash.com/photo-1470092306007-055b6797ca72?ixlib=rb-1.2.1&auto=format&fit=crop&w=668&q=80')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Rawllings' Blog</h1>
            <span class="subheading">A collection of random musings.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        {% for post in pages.items %}
        <div class="post-preview">
          <a href="{{ url_for('show_post', post_id=post.id) }}">
            <h2 class="post-title">
              {{post.title}}
            </h2>
            <h3 class="post-subtitle">
              {{post.subtitle}}
            </h3>
          </a>
          <p class="post-meta">Posted by
            <a href="#">{{post.author.name}}</a>
            on {{post.date}}
            {% if id == 1 %}
              <a href="{{url_for('delete_post', post_id=post.id) }}">✘</a>
            <div class="clearfix">
              <a class="btn btn-primary float-right" href="{{url_for('edit_post', post_id=post.id) }}">Edit Post</a>
        </div>
          {% endif %}
          
          </p>
        </div>
        <hr>
        {% endfor %}


        <!-- New Post -->
        {% if id == 1 %}
          <div class="clearfix">
            <a class="btn btn-primary float-right" href="{{url_for('add_new_post')}}">Create New Post</a>
          </div>
        {% endif %}
      </div>


    </div>
<div class="col-lg-8 col-md-10 mx-auto"style="text-align:center;">
    <nav aria-label="...">
  <ul class="pagination">
    <li class="page-item {% if not pages.has_prev%} disabled {% endif %}">
      <a href="/{{pages.prev_num}}"><span class="page-link">Previous</span></a>
    </li>

    {% for link in pages.iter_pages() %}
          <li class="page-item {% if link==pages.page %} active {% endif %}">
            <a class="page-link" href="/{{link}}" >
              {{link}}
              <span class="sr-only">(current)</span>
      </a>
    </li>
    {% endfor %}


    <li class="page-item {% if not pages.has_next %} disabled {% endif %}">
      <a class="page-link" href="/{{pages.next_num}}">Next</a>
    </li>
  </ul>
</nav>
</div>
  </div>
  <hr>
<script>
  console.log({{id}})
</script>
{% include "footer.html" %}